@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --color-background:  #F3F5FC;
    --color-textarea: #0A3871;
    --color-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
    box-sizing: border-box;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

textarea{
    border: none;
    outline: none;
    resize: none;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 1% 1% 0% 1%;
    margin-bottom: 16px;
}

.container > img {
    width: 120px;
    height: 48px;
}

.container__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 780px;
    margin-right: 36px;
}

.container__content > textarea {
    background-color: var(--color-background);
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--color-textarea);
    font-size: 2rem;
    width: 640px;
    height: 480px;
}

.container__content > textarea::placeholder {
    color: var(--color-textarea); 
}

.container__content__notice {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.container__content__notice > p {
    font-size: 12px;
    color: #495057;
    padding-left: 5px;
}

.container__information{
    padding-bottom: 20px;
}

.container__buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    border-radius: 24px;
    height: 67px;
    font-size: 1rem;
    background-color: #D8DFE8;
    border: 1px solid var(--color-textarea);
    color: var(--color-textarea);
    width: 432px;
}

#criptografar {
    background-color: var(--color-textarea);
    color: var(--color-white);
    margin-right: 20px;
}


.container__message {
    background-color: var(--color-white);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__message__content {
    width: 296px;
    text-align: center;
}
.container__message__content > h3 {
    color: #403434;
    font-size: 1.5rem;
    
}

.container__message__content > p {
    color: #495057;
    font-size: 1rem;
}

.container__message > img {
    width: 266px;
    height: 234px;
}

.container__result {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    justify-content: space-between;
    padding: 10px 20px 20px 10px;
}

.container__result > textarea {
    color: #495057;
    font-size: 1.25rem;
    padding: 20px 20px 20px 20px; 
    height: 100%;
}

.container__result > button {
    width: 300px;
    height: 69px;
}

.footer {
    height: 28px;
    padding: 16px;
    background-color: #4d7db8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    bottom: 0;
}

@media (max-width: 768px) {
    body {
        width: 100%
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .container > img {
        width: 70px;
    }

    .container__content {
        width: 100%;
    }
    
    .container__content > textarea {
        padding: 10px 0 0 10px;
        margin: 0;
        width: 85%;
    }

    .container__information{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__buttons {
        width: 85%;
        gap: 10px;
    }

    #criptografar {
        margin-right: 0;
    }

    .container__message{
        width: 85%;
        margin: 0 4% 2% 6%;
    }

    .container__message > img {
        padding-top: 10px;
        width: 200px;
        height: 200px; 
    }

    .container__message__content{
        width: 400px;
    }

    .container__message__content > h3 {
        color: #403434;
        font-size: 1.25rem;
        width: 400px;
        margin-bottom: 10px;   
    }
    
    .container__message__content > p {
        color: #495057;
        font-size: 0.75rem;
        margin-bottom: 10px;
    }

    .container__result > textarea {
        margin-bottom: 20px;
    }

}

/* @media (max-width: 480px) {
    body {
        border:1px solid red;
        padding-top: 10px;
        width: 15rem;
        display: flex;
    }

    .container {
        border:1px solid rgb(4, 255, 0);
        margin-top: 0;
    }

    .container > img {
        width: 50px;
        height: 55px;
    }
} */